<!-- Toolbar -->
  <mat-toolbar color="primary" style="display: flex; justify-content: space-between">
    <span>SFT - SearchFaceTool</span>
    <div>
    <span class="alert-success" *ngIf="successMessage$ | async as successMessage">{{successMessage}}</span>
    <span class="alert-error" *ngIf="errorMessage$ | async as errorMessage">{{errorMessage}}</span>
    </div>
  </mat-toolbar>


<div class="mainContainer">
  <div class="subContainer">
    <div class="leftContainer">
      <select-reference-face></select-reference-face>
    </div>
    <div class="rightContainer">
      <div class="rightTopContainer">
        <set-gallery></set-gallery>
      </div>
      <div class="rightBottomContainer">
        <search></search>
      </div>
    </div>
  </div>
</div>



  <!-- Footer -->
  <footer>

  </footer>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


