<div style="mat-app-background">
<!-- Toolbar -->
  <mat-toolbar color="primary">
    <span>SFT - SearchFaceTool</span>
  </mat-toolbar>


<div class="mainContainer">
    <div class="leftContainer">
      <select-reference-face></select-reference-face>
    </div>
    <div class="rightContainer">
      <div class="rightTopContainer">
        <set-gallery></set-gallery>
      </div>
      <div class="rightBottomContainer">
        <search></search>
      </div>
    </div>
</div>



  <!-- Footer -->
  <footer>

  </footer>



</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
