<!-- Toolbar -->
  <nav class="costum-navbar navbar navbar-expand-lg primaryBackColor">

    <a class="navbar-brand" style="font-family: 'Roboto'; margin-left: 1rem">deepACT</a>
    <img src="assets/khm-logo.png" style="height: 2rem; margin-left: 0rem; margin-right: 1rem"/>

    <img src="assets/full-cvl-logo.png" style="height: 2rem"/>

  </nav>


<div class="mainContainer">
  <div class="subContainer">
    <div class="leftContainer round">
      <span>1 Select reference face</span>
      <select-reference-face></select-reference-face>
    </div>
    <div class="rightContainer">
      <div class="rightSubContainer top-round">
        <span>2 Set gallerypath</span>
        <set-gallery></set-gallery>
      </div>
      <div class="rightSubContainer">
        <span>3 Set outputpath</span>
        <app-set-output-path></app-set-output-path>
      </div>
      <div class="rightSubContainer">
        <span>4 Setting - weigths & threshold</span>
        <app-settings></app-settings>
      </div>
      <div class="rightSubContainer bottom-round d-flex flex-column align-content-center">
        <span>5 Search</span>
        <search></search>
      </div>
    </div>
  </div>
</div>
<div class="alert-container">
  <div class="alert alert-success" role="alert" *ngIf="successMessage$ | async as successMessage">{{successMessage}}</div>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage$ | async as errorMessage">{{errorMessage}}</div>
</div>



  <!-- Footer -->
  <footer>

  </footer>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


